# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend specific
.env
logs.log
halfmarathon_wroclaw_2023__final.csv
halfmarathon_wroclaw_2024__final.csv
data/
venv/
mapa.md
zad_dom_9.ipynb
zadania_domowe/predyktor_react/backend_fastapi/.env
zadania_domowe/predyktor_react/.env